*.log
*.err
*.jpg
*.png
*.pyc
__pycache__/*
*__pycache__/*
LOGS/*
*.ckpt
*pyc
PlaceRec/Training/GSV_Cities/dataloaders/__pycache__/*
PlaceRec/Evaluate/results/*
*.zip
*cache
*.onnx
data/
*.trt
*.pkl
*.idea/
*wandb/